* {
    margin: 0;
    padding: 0;
}

:root {
    --light-pink: rgb(255, 245, 246);
    --dark-pink : rgb(204, 9, 129);
}

body, html {
    height: 100vh;
    max-width: 1920px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

.line-break {
    height: 1px;
    background-color: rgb(221, 221, 221);
    border: none;
    margin: 3rem 0;
}


/* ---------- header section ----------- */

header {
    background-color: var(--light-pink);
    position: sticky;
    top: 0;
    z-index: 99;
}

.header-container {
    width: 95%;
    margin: auto;
    padding: .5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 80px;
    height: auto;
}

.toggle-button {
    display: none;
}

.toggle-button img {
    width: 40px;
    height: auto;
}

.nav-item {
    padding: 1rem;
    margin: 0 .5rem;
    color: var(--dark-pink);
    text-decoration: none;
}

.nav-item:hover {
    color: rgba(204, 9, 129, 0.349);
}

.active-link {
    position: absolute;
    margin-top: 4px;
    width: 10px;
    height: 10px;
    background-color: var(--dark-pink);
    border-radius: 100%;
}

.signup {
    font-weight: bold;
    text-decoration: underline;
}

.login {
    margin: 0;
    font-weight: bold;
    border: 2px solid var(--dark-pink);
    border-radius: .5rem;
    transition-duration: 300ms;
}

.login:hover {
    background-color: var(--dark-pink);
    color: white;
    transition-duration: 300ms;
}


/* ------------ main section --------------- */


/* --------jumbotron section ----------- */

.jumbotron-section {
    width: 100%;
    height: 100vh;
    background-image: url("images/background.png");
    background-position: top;
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.jumbotron {
    width: 80%;
    margin: auto;
    padding: 8rem 0;
}

.mainline {
    font-size: 2.6rem;
    color: rgb(119, 18, 80);
}

.short-line {
    margin-top: 2rem;
    color: rgb(94, 94, 94);
}

.btn-primary {
    margin-top: 2rem;
    padding: 1rem 2rem;
    border: 2px solid var(--dark-pink);
    background-color: white;
    border-radius: .5rem;
    color: var(--dark-pink);
    font-size: 1rem;
    font-weight: bold;
    transition-duration: 300ms;
    box-shadow: 2px 3px 15px -4px black;
}

.btn-primary:hover {
    background-color: var(--dark-pink);
    color: white;
    transition-duration: 300ms;
}

.btn-primary:active {
    transform: scale(0.9);
    transition-duration: 300ms;
}

.btn-primary:focus {
    outline: none;
}


/* ---------- about section --------- */

.about {
    display: flex;
    flex-wrap: wrap;
}

.about-img img {
    width: 100%;
    height: auto;
}

.about-img,
.about-text {
    flex: 450px;
}

.about-text {
    margin-right: 5rem;
    text-align: right;
}

.about-heading {
    margin: 2rem 0;
    font-size: 2rem;
}

.about-p {
    margin: 2rem 0;
    line-height: 1.4rem;
    color: rgb(94, 94, 94);
}

.learning-quote {
    font-size: 1.1rem;
    font-weight: bold;
    color: rgb(123, 18, 165);
}

.quote-name {
    color: rgb(94, 94, 94);
    margin-top: .8rem;
}


/* ------------ 3 column ready to learn section --------------- */


.ready-to-learn > h2 {
    text-align: center;
    font-size: 2rem;
}

.learn-access-column {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
}

.card {
    flex: 300px;
    margin: 1rem;
}

.card p {
    color: rgb(94, 94, 94);
    text-align: center;
}

.card h3 {
    text-align: center;
    margin: 1rem 0;
    color: var(--dark-pink);
}

.card img {
    width: 100px;
    height: auto;
}

.card > div {
    width: 100px;
    margin: auto;
}

.pink {
    width: 30%;
    margin: 1rem auto;
    height: 1px;
    background-color: pink;
    border: none;
}


/* --------- two column browse our course section ----------- */

.browse-course {
    width: 90%;
    margin: auto;
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
}

.browse-img,
.browse-text {
    flex: 450px;
}

.browse-text h2 {
    font-size: 2rem;
    color: rgb(119, 18, 80);
    text-align: center;
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.479);
}

.browse-img img {
    width: 100%;
    height: auto;
}

.book-img {
    width: 200px;
    margin: auto;
}

.book-img img {
    width: 200px;
    height: auto;
}




/* ---------------- courses ----------------- */

.courses-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
}








@media (max-width: 1060px) {
    .toggle-button {
        display: block;
    }

    nav {
        position: relative;
    }

    .navbar {
        display: none;
        position: absolute;
        right: 0;
        width: 200px;
        background-color: var(--light-pink);
        padding: 0 .8rem;
    }

    .active-link {
        display: none;
    }

    .nav-item {
        padding: 1rem 2.5rem;
        margin: .2rem 0;
        display: block;
        font-size: 1.5rem;
    }

    .nav-item:hover {
        color: var(--dark-pink);
    }

    .login {
        border: none;
        text-decoration: underline;
    }

    .login:hover {
        background-color: var(--light-pink);
    }

    nav:hover .navbar {
        display: block;
    }

    .jumbotron-section {
        background-image: none;
        height: 100%;
    }

    .about {
        display: block;
    }

    .about-text {
        width: 80%;
        text-align: left;
        margin: 0 auto;
    }

}






@media (max-width: 550px) {
    .mainline {
        font-size: 2rem;
    }

    .jumbotron {
        width: 90%;
    }
}





